/* Font - size */

$xsmall: 0.750em;
$small: 0.875em;
$medium: 1.125em;
$large: 1.500em;
$xlarge: 2.000em;
$epic: 3.000em;
$jumbo: 4.000em;

/* Font - family */

$basic: 'Raleway', sans-serif;

/* Theme - colors */

$dark-blue: rgb(19, 56, 64);
$yellow: rgb(254, 244, 157);
$brown: rgb(180, 140, 89);

$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$gray: rgb(213, 213, 213);

$light-blue: rgb(144, 153, 162);
$blue: rgb(110, 122, 148);

$dusty: rgb(150, 133, 141);
